// Import all scss moove files
@import "moove/variables";
@import "moove/navbar";
@import "moove/general";
@import "moove/nav-drawer";
@import "moove/btnapp";
@import "moove/footer";
@import "moove/course";
@import "moove/frontpage";
@import "moove/login";
