// Import all scss moove files
@import "extras/waves";
@import "extras/simple-line-icons";
@import "moove/typography";
@import "moove/general";
@import "moove/navbar";
@import "moove/frontpage";
@import "moove/login";
@import "moove/footer";
@import "moove/nav-drawer";
@import "moove/blocks";
@import "moove/mydashboard";
@import "moove/course";
@import "moove/calendar";