body#page-enrol-index {
    #region-main {
        .generalbox {
            float: left;
            width: 30%;
        }
        .generalbox:last-of-type {
            width: 70%;
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}
