#page-site-index.notloggedin {
    margin-left: 0;

    #page-wrapper {
        padding-bottom: 0;
    }

    #page {
        padding: 0;
        background-color: #fff;
    }

    .hide-content {
        display: none;
        opacity: 0;
        visibility: hidden;
    }

    #page-header {
        background-position: left top;
        background-repeat: no-repeat;
        background-color: #ccc;
        background-size: 100%;
        min-height: 540px;
        padding: 0 4rem;

        #loginbox {
            opacity: 0.94;
            margin-bottom: 3rem;

            #intro,
            #boxForm {
                margin-top: 3rem;
            }

            #intro {
                text-align: left;
                color: #fff;

                h1 {
                    color: #fff;
                    letter-spacing: .2rem;
                    text-shadow: 2px 4px 4px #000;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                }
                h2 {
                    color: #fff;
                    text-shadow: 1px 1px 1px #000;
                    letter-spacing: .1rem;
                    max-width: 80%;
                }
            }


            #boxForm {
                color: #5a5a5a;
                background-color: #fff;
                opacity: 1;
                padding: 20px;
                text-align: left;

                h3 {
                    margin-top: 0;
                    font-size: 1.6rem;
                }

                label {
                    font-size: 1.3rem;
                    margin-bottom: .1rem;
                }

                .input-group {
                    margin-bottom: 10px;

                    input,
                    .input-group-addon {
                        -webkit-border-radius: 0;
                        -moz-border-radius: 0;
                        border-radius: 0;
                    }

                    input {
                        height: 40px;
                        font-size: 1.2rem;
                    }

                    .input-group-addon {
                        width: 40px;
                        height: 30px;
                        line-height: 30px;
                        padding: 4px 10px;
                    }
                }

                .sign-up-btn {
                    .btn {
                        padding: 10px 20px;
                        margin-left: 0;
                        font-size: 1.3rem;
                        -webkit-border-radius: 0;
                        -moz-border-radius: 0;
                        border-radius: 0;
                    }
                }

                p {
                    text-shadow: none;
                    margin-top: 14px;
                    a {
                        text-decoration: none;
                        color: $brand-primary;
                        font-size: 1.2rem;
                    }
                }

                .btn-register {
                    margin: 0;
                    width: 100%;
                    -webkit-border-radius: 0;
                    -moz-border-radius: 0;
                    border-radius: 0;
                }
            }
        }
    }

    .frontpage-marketing {
        margin: -8em 0 2em 0;
        padding: 2em 20px 0 20px;
        background-image: url('[[pix:theme|headerimg-bg]]');
        background-position: center top;
        background-repeat: repeat-x;

        .card {
            text-align: center;
            min-height: 300px;

            h2 {
                color: #565656;
                margin: 20px 0;
            }

            h3 {
                color: #a4a3a3;
            }

            p {
                color: #9f9f9f;
                margin: 1.5em 0;
            }
        }
    }

    @media (min-width: 1200px) {
        .frontpage-marketing .card {
            &:first-child {
                margin-left: 0;
            }
        }
    }
}

#frontpage-course-list {
    h2 {
        text-align: center;
        color: $brand-primary;
    }
}
