#page-login-index.notloggedin {
    margin-left: 0;

    #page-wrapper {
        padding-bottom: 0;

        #page {
            margin-top: 0;
        }
    }
}

$moove-login-padding: 10px;
$moove-login-boxheight: 350px;

#page-login-index.moove-login {
    background-color: #f1f1f1;

    .logo {
        text-align: center;
        margin-bottom: 2rem;
    }

    .row {
        margin: 0;
    }

    .instructionspanel {
        border-radius: $moove-login-padding;
        border: none;
    }

    .loginpanel {
        border-radius: $moove-login-padding;
        border: none;

        .card-block {
            padding: 0;

            .form {
                padding: 60px 15px 20px 15px;
                height: $moove-login-boxheight;
                max-height: $moove-login-boxheight;

                .welcome {
                    font-size: 1.2rem;
                }

                .input-group-addon {
                    width: 40px;
                }
                .input-group-username .input-group-addon {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
                .input-group-password .input-group-addon {
                    border-top: 0;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
                #username,
                #password {
                    border: 1px solid rgba(0, 0, 0, .15);
                    height: 44px;
                }
                #username {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                }
                #password {
                    border-top: 0;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
                #loginbtn {
                    padding: 1rem;
                }
            }

            .instructions {
                background-color: $brand-primary;
                padding: 60px 15px;
                color: #fff;
                height: $moove-login-boxheight;
                max-height: $moove-login-boxheight;
                border-top-left-radius: $moove-login-padding;
                border-bottom-left-radius: $moove-login-padding;

                img {
                    max-width: 100%;
                }

                .text-info {
                    color: #fff !important;
                }

                h2 {
                    text-transform: uppercase;
                    font-weight: 700;
                }

                hr {
                    width: 50%;
                    margin-top: 0;
                    border-top: 1px solid rgba(255, 255, 255, .7);
                }

                .m-t-2 {
                    margin-top: 1rem !important;
                }

                .btn-secondary {
                    border: none;
                }
            }
        }
    }
}

#page-login-signup {
    margin-left: 0;
    #page-wrapper {
        padding-bottom: 0;
        margin-bottom: 0;

        &:after {
            min-height: 0;
        }

        #page {
            margin-top: 0;
            padding-top: 50px;
        }
    }
}

.potentialidplist .potentialidp {
    margin-bottom: 5px;
}
