.pagelayout-mydashboard {
    .card {
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: .5rem;
    }

    #block-region-content {
        .card {
            .card-body {
                padding: 3rem !important;
            }
        }

        .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
            width: calc(33.33% - 2rem);
            margin: 1rem;
        }
    }
}

@include media-breakpoint-down(md) {
    .pagelayout-mydashboard {
        #block-region-content {
            .dashboard-card-deck:not(.fixed-width-cards) .dashboard-card {
                width: calc(100%);
                margin: 1rem 0;
            }

            .card {
                .card-body {
                    padding: 1rem !important;
                }
            }
        }
    }
}
