#nav-drawer {
    padding: 5px;
    overflow: visible;
    background-color: $m-dark-bg;
    top: 70px;
    padding-bottom: 20px;

    .list-group {
        .list-group-item {
            border: none;
            background-color: inherit;
            color: #fff;
            padding: .75rem 1rem;
            border-radius: $card-border-radius;

            &:hover {
                background-color: $body-bg;
                color: $m-dark-bg;
            }

            .m-l-0::before {
                font-size: 19px;
            }
        }

        .list-group-item > div:before {
            font-family: 'simple-line-icons';
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\e089";
        }


        .list-group-item > div {
            display: inline;
        }

        [data-key="coursehome"] > div:before {
            content: "\e069"; // OK
        }
        [data-key="mycourses"] > div:before {
            content: "\e019"; // OK
        }
        [data-key="participants"] > div:before {
            content: "\e001"; // OK
        }
        [data-key="badgesview"] > div:before {
            content: "\e028"; // OK
        }
        // Competences
        [data-key="competencies"] > div:before {
            content: "\e09b"; // OK
        }
        [data-key="grades"] > div:before {
            content: "\e04c"; // OK
        }
        [data-key="myhome"] > div:before {
            content: "\e007"; // OK
        }
        [data-key="home"] > div:before {
            content: "\e06a"; // OK
        }
        [data-key="calendar"] > div:before {
            content: "\e075"; // OK
        }
        // Private files
        [data-key="privatefiles"] > div:before,
        [data-key="7"] > div:before {
            content: "\e040"; // OK
        }
        [data-key="sitesettings"] > div:before {
            content: "\e09a"; // OK
        }
    }

    .list-group.m-t-1 {
        border-top: 3px solid $m-dark-separator;
    }
}

#nav-drawer.closed {
    width: 60px;
    left: 0;

    .list-group {
        .list-group-item {
            text-align: left;
            padding: .75rem 1.2rem;

            .m-l-1 {
                margin-left: 4px !important;
            }

            > div span.text {
                display: none;
            }

            &:hover {
                width: 235px;

                > div span.text {
                    display: inline-block;
                }

                .text {
                    margin-left: 4px;
                }
            }
        }
    }
}
