.navbar.fixed-top {
    height: 70px;

    .primary-navigation {
        .navigation {
            height: 70px;

            .nav-link {
                height: 70px;
                border: none;
                border-radius: 0;

                &.active {
                    font-weight: 700;
                    border-bottom: 2px solid #fff;
                }
            }
        }
    }
}

.secondary-navigation {
    border: none;
    align-items: stretch;
    padding: 0;
    z-index: 1021;
    background-color: $brand-primary;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
    position: relative;
    margin-top: 70px;

    > .moove-container-fluid {
        padding: 0;
    }

    &.moove {
        width: 100%;
        max-width: 100%;
    }

    .moremenu {
        box-shadow: none;
        background-color: inherit;
        border-top: none;
        border-bottom: none;
        height: 60px;

        .nav-tabs {
            border: none;
            background-color: inherit;

            .nav-link {
                display: flex;
                align-items: center;
                white-space: nowrap;
                color: #fff;
                border: none;
                border-radius: 0;

                &.active {
                    border-bottom: 2px solid #fff;
                    font-weight: 700;
                }

                &:hover,
                &:focus {
                    background-color: darken($brand-primary, 10%);
                }
            }
        }
    }
}
