$font-family-sans-serif: "Poppins", sans-serif, !default;
$headings-font-family: $font-family-sans-serif !default;

$body-bg: #eef5f9 !default;

$headings-font-weight: 400 !default;
$headings-color: #455a64 !default;

$navbar-height: 70px !default;

$card-border-radius: 4px !default;
$card-border-color: #d7dfe3 !default;

// $m-navbar-height: 70px !default;
$m-dark-bg: #272c33 !default;
$m-dark-bg-hover: #f1f1f1 !default;
$m-dark-separator: #374850 !default;

$m-moodle-color: #f98012 !default;
$m-facebook-color: #3b5998 !default;
$m-twitter-color: #55acee !default;
$m-youtube-color: #cc181e !default;
$m-googleplus-color: #d34836 !default;
$m-linkedin-color: #007bb5 !default;
$m-instagram-color: #8a3ab9 !default;