{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/login

    Moodle template for the login page.

    Context variables required for this template:
    * autofocusform: Auto focus on form ?,
    * canloginasguest - Is guest login allowed?,
    * canloginbyemail - Is login by email allowed?,
    * cansignup - Signup allowed?,
    * cookieshelpicon - cookies help icon details
    * error - Any errors in the form?,
    * forgotpasswordurl - Forgot password url,
    * hasidentityproviders - Flag, set to true to hide identity providers,
    * hasinstructions - Flag, set to true to show instructions,
    * identityproviders - List of identiy providers,
    * instructions - Instructions,
    * instructionsformat - Format of instructions,
    * loginurl - Login url,
    * rememberusername - Remeber username?,
    * signupurl - Signup url,
    * cookieshelpiconformatted - Formatted html of cookies help icon,
    * errorformatted - Formatted error,
    * logourl - Flag, logo url,
    * sitename - Name of site.

    Example context (json):
    {
        "autofocusform": false,
        "canloginasguest": "1",
        "canloginbyemail": false,
        "cansignup": true,
        "cookieshelpicon": {
            "heading": "Cookies must be enabled in your browser",
            "text": "<div class=\"no-overflow\">Two cookies are used on this site. Both died..</div>",
            "icon": {
                "attributes": [
                    {
                        "name": "class",
                        "value": "iconhelp"
                    },
                    {
                        "name": "alt",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "title",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "src",
                        "value": "http://localhost/stable_master/theme/image.php?theme=boost&component=core&image=help"
                    }
                ]
            },
            "linktext": null,
            "title": "Help with Cookies must be enabled in your browser",
            "url": "http://localhost/stable_master/help.php?component=core&identifier=cookiesenabled&lang=en",
            "ltr": true
        },
        "error": "",
        "forgotpasswordurl": "http://localhost/stable_master/login/forgot_password.php",
        "hasidentityproviders": false,
        "hasinstructions": true,
        "identityproviders": [],
        "instructions": "For full access to this site, you first need to create an account.",
        "instructionsformat": "1",
        "loginurl": "http://localhost/stable_master/login/index.php",
        "rememberusername": true,
        "signupurl": "http://localhost/stable_master/login/signup.php",
        "cookieshelpiconformatted": "",
        "errorformatted": "",
        "logourl": false,
        "sitename": "Beer & Chips"
    }
}}

<div class="my-1 my-sm-5"></div>

<div class="row justify-content-center logo">
    <img src="{{config.wwwroot}}/theme/moove/pix/logo_login.png" class="img-responsive" title="{{sitename}}" alt="{{sitename}}"/>
</div>

<div class="content row">
    <div class="col-md-8 title">
        <h1>Bem-vindo ao seu espaço!</h1>
    </div>
    <div class="loginpanel col-md-4">
        {{#error}}
            <div class="loginerrors">
                <a href="#" id="loginerrormessage" class="accesshide">{{error}}</a>
                <div class="alert alert-danger" role="alert">{{error}}</div>
            </div>
        {{/error}}

        <div class="form">
            <form action="{{loginurl}}" method="post" id="login">
                <input id="anchor" type="hidden" name="anchor" value="">
                <script>document.getElementById('anchor').value = location.hash;</script>
                <input type="hidden" name="logintoken" value="{{logintoken}}">

                <p class="welcome">Você possui uma conta?</p>

                <input type="text" name="username" id="username"
                       class="form-control"
                       value="{{username}}"
                       placeholder="Usuário">

                <input type="password" name="password" id="password" value=""
                       class="form-control"
                       placeholder="Senha">

                {{#rememberusername}}
                    <div class="rememberpass m-t-1">
                        <input type="checkbox" name="rememberusername" id="rememberusername" value="1" {{#username}}checked="checked"{{/username}} />
                        <label for="rememberusername">{{#str}} rememberusername, admin {{/str}}</label>
                    </div>
                {{/rememberusername}}

                <button type="submit" class="btn btn-primary" id="loginbtn">Entrar</button>
            </form>

            <div class="forgetpass m-t-1">
                <p><a href="{{forgotpasswordurl}}">Esqueceu seu usuário ou senha?</a></p>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <h2>Uma parceria UEMA e SEMED Balsas</h2>

    <div class="logos">
        <img class="img-responsive balsas" src="{{config.wwwroot}}/theme/moove/pix/logo_semed_neg.png" alt="SEMED Balsas">
        <img class="img-responsive uemanet" src="{{config.wwwroot}}/theme/moove/pix/logo_uemanet_neg.png" alt="UEMANET">
        <img class="img-responsive uema" src="{{config.wwwroot}}/theme/moove/pix/logo_uema_neg.png" alt="UEMA">
    </div>
</div>

{{#js}}
    {{#error}}
        require(['jquery'], function($) {
            $('#loginerrormessage').focus();
        });
    {{/error}}
    {{^error}}
        {{#autofocusform}}
            require(['jquery'], function($) {
                if ($('#username').val()) {
                    $('#password').focus();
                } else {
                    $('#username').focus();
                }
            });
        {{/autofocusform}}
    {{/error}}
{{/js}}
