<div id="accessibilitybar" class="fixed-top">
    <div class="container">
        <div class="bars">
            <div class="fontsize">
                <span>Tamanho do texto</span>
                <ul>
                    <li><a class="btn btn-default" data-action="decrease" title="Diminuir o tamanho do texto" id="fontsize_dec">A-</a></li>
                    <li><a class="btn btn-default" data-action="reset" title="Redefinir tamanho do texto (limpa definição salva)" id="fontsize_reset">A</a></li>
                    <li><a class="btn btn-default" data-action="increase" title="Aumentar o tamanho do texto" id="fontsize_inc">A+</a></li>
                </ul>
            </div>
            <div class="sitecolor">
                <span>Fundo</span>
                <ul>
                    <li><a class="btn btn-default" data-action="reset" title="Esquema de Cores Padrão (Limpa a Configuração Salva)" id="sitecolor_color1">R</a></li>
                    <li><a class="btn btn-default" data-action="sitecolor-color-2" title="Contraste reduzido 1" id="sitecolor_color2">A</a></li>
                    <li><a class="btn btn-default" data-action="sitecolor-color-3" title="Contraste reduzido 2" id="sitecolor_color3">A</a></li>
                    <li><a class="btn btn-default" data-action="sitecolor-color-4" title="Alto Contraste" id="sitecolor_color4">A</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>