<div id="blocks-drawer" data-region="drawer"
  class="control-sidebar moodle-has-zindex display-none {{^blocksdraweropen}}closed{{/blocksdraweropen}}"
  aria-hidden="{{#blocksdraweropen}}false{{/blocksdraweropen}}{{^blocksdraweropen}}true{{/blocksdraweropen}}">
    {{{ sidepreblocks }}}
</div>
