<div class="loading-overlay">
    <div class="loader">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="ball"></div>
    </div>

    <div class="text">{{#str}}loading{{/str}}</div>

    <div class="continuebutton">
        <p>{{#str}}redirectmessage, theme_moove{{/str}}</p>
        <a href={{{ encodedurl }}}>{{#str}}redirectbtntext, theme_moove{{/str}}</a>
    </div>
</div>