<div class="card" data-courseid="{{{id}}}" data-type="1">
    <a href="{{config.wwwroot}}/course/view.php?id={{{id}}}">
        <img src="{{{image}}}" alt="{{{fullname}}}" class="card-img-top w-100">
    </a>
    {{#hascontacts}}
        <div class="course-contacts">
            {{#contacts}}
                <a href="{{config.wwwroot}}/user/profile.php?id={{{id}}}" class="contact" data-toggle="tooltip" title="{{{fullname}}}">
                    <img src="{{{userpicture}}}" class="rounded-circle" alt="{{{fullname}}}">
                </a>
            {{/contacts}}
        </div>
    {{/hascontacts}}
    <div class="card-body">
        <div class="coursecat badge badge-info">
            <a class="text-white" href="{{config.wwwroot}}/course/index.php?categoryid={{category.id}}">{{category.name}}</a>
        </div>

        <h4 class="card-title">
            <a class="" href="{{config.wwwroot}}/course/view.php?id={{{id}}}">{{{fullname}}}</a>
        </h4>

        <p class="card-text mb-0">
            {{{summary}}}
        </p>
    </div>

    <div class="card-footer">
        <div class="pull-right">
            <a class="card-link btn btn-primary" href="{{config.wwwroot}}/course/view.php?id={{{id}}}">Access</a>
        </div>
    </div>
</div>