<div class="card">
    <div class="card-block row admininfos">
        <div class="col-md-3">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>{{{totalusage}}}</h3>

              <p>{{#str}}diskusage, theme_moove{{/str}}</p>
            </div>
            <div class="icon">
              <i class="fa fa-hdd-o"></i>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{{totalusers}}}</h3>

              <p>{{#str}}totalusers, theme_moove{{/str}}</p>
            </div>
            <div class="icon">
              <i class="fa fa-users"></i>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>{{{totalcourses}}}</h3>

              <p>{{#str}}totalcourses, theme_moove{{/str}}</p>
            </div>
            <div class="icon">
              <i class="fa fa-graduation-cap"></i>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>{{{onlineusers}}}</h3>

              <p>{{#str}}onlineusers, theme_moove{{/str}}</p>
            </div>
            <div class="icon">
              <i class="fa fa-plug"></i>
            </div>
          </div>
        </div>
    </div>
</div>
