@font-face {
    font-family: 'MuseoSans';
    src: url('[[font:theme|MuseoSans-100.otf]]') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('[[font:theme|MuseoSans-100Italic.otf]]') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('[[font:theme|MuseoSans-300.otf]]') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('[[font:theme|MuseoSans-300Italic.otf]]') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('[[font:theme|MuseoSans-500.otf]]') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('[[font:theme|MuseoSans-500Italic.otf]]') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('[[font:theme|MuseoSans-700.otf]]') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('[[font:theme|MuseoSans-700Italic.otf]]') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('[[font:theme|MuseoSans-900.otf]]') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('[[font:theme|MuseoSans-900Italic.otf]]') format('opentype');
    font-weight: 900;
    font-style: italic;
}
